<configuration>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <!-- Не додавати зайві line separators -->
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- Забираємо всі інші appender’и, які можуть писати в stderr -->
    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>

    <!-- Заглушити статус-логи Logback -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

</configuration>